@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');


* {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
}

body {
    font-family: 'Montserrat',
        sans-serif;
    font-family: 'Poppins',
        sans-serif;

}

