<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/d62314cbab.js" crossorigin="anonymous"></script>  
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <title>Text</title>
</head>

<body>
    <header >
        <div class=" flex bg-green-3 pd-6 justify-btw items-center ">
            <div class="flex  gap-1 justify-center items-center text-lg text-bold">
                <a href="index.html" class="text-dec text-color-grey-0">WebKit-UI</a>
            </div>
          
            <div class=" flex gap-1">
                <button class="nav-active-btn text-color-grey-0  bg-green-3 text-m" id="nav-button"><i class="fa-solid fa-bars"></i></button>
                <nav class="nav-active bg-green-3 " id="nav-active">
                    <button class="text-color-grey-0  bg-green-3 text-m" id="close-button"><i class="fa-solid fa-xmark"></i></button>
                    <ul class="style-none text-xm gap-1 flex justify-around ">
                        <li class="bg-green-8 rounded-s pd-4 text-center">
                            
                            <a href="/documentation/document.html" class="text-dec text-s text-color-grey-0">Home</a>
                        </li>
                        <li class="bg-green-8 rounded-s  pd-4 text-center">
                            <a href="/documentation/document.html" class="text-dec text-s  text-color-grey-0">Docs</a>
                        </li>
                        <li class="bg-green-8 rounded-s pd-4 text-center">
                            <a href="/documentation/document.html" class="text-dec text-s   text-color-grey-0">GitHub <i class="fa-brands fa-github"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class=" bg-green-3 pd-6 text-color-grey-0 text-xm border-grey-9 border-top-1" id="menu-navigation">
        <span >Menu <i class="fa-sharp fa-solid fa-arrow-down"></i></span>
    </div>
    <main >
        <div class="m-auto wt-80 flex flex-wrap  m-y-11" id="wt-70">

            <aside>
                <div class="drawer z-index-1  wt-100 " id="drawer">
                    <div class="flex flex-column items-center justify-center text-gray-8 pd-x-11 ">
                        <h4 class="m-y-4 ">Get Started </h4>
                        <a href="/documentation/document.html" class="text-dec text-color-grey-9  pd-y-2">Installation</a>
                        <h4 class="m-y-4">Components </h4>
                        <nav>
                            <ul  class="style-none flex flex-column items-center " >
                                <li class="m-y-4">
                                    <a href="/component/Alert/Alert.html" class="text-dec  wt-100 text-left text-color-grey-9  ">Alert</a>
                                </li>
                                <li class="pd-y-4">
                                    <a href="/component/avatar/avatar.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Avatar</a>
                                </li>
                            <li class="pd-y-4">
                                <a href="/component/badges/badge.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Badge</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Button/button.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Button</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Cards/cards.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Card</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/images/image.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Image</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Input/Input.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Input</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Text/text.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Text </a>
                            </li>
                            
                            <li class="pd-y-4">
                                <a href="/component/Lists/list.html" class="text-dec wt-100 text-color-grey-9  pd-y-2 ">List</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Navigation/nav.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Navigation</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Modal/modal.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Modal</a>
        
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Rating/rating.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Rating</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Toast/toast.html" class="text-dec wt-100 text-color-grey-9  pd-y-2 ">Toast</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Grid/grid.html" class="text-dec wt-100 text-color-grey-9  pd-y-2 ">Grid</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/slider/slider.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Slider</a>
                            </li>
                        </ul>
                    </nav>
                   
                    <div class="cursor wt-100 flex justify-around m-y-6">
                        <a href="https://github.com/saketkum11" class="text-dec text-color-grey-9"><i class="fab fa-github"></i></a>
                        <a href="https://twitter.com/saketkum11" class="text-dec text-color-grey-9"><i
                                class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/saketkumar21/" class="text-dec text-color-grey-9"><i
                                class="fab fa-linkedin-in"></i>
                            </a>
                    </div>
                </div>
              </div>
            </aside>
            <section class="flex-1 wt-70 pd-x-11 flex flex-column">
                <div class="m-y-6">
                    <h3 class="text-lg text-bold">Text-Utilites</h3>
                          <hr>
                    <h3 class="m-y-6">Introduction</h3>
                    <p class="m-t-5">Text utilities are the style for your text design.</p>
                </div>
                <div class="m-y-8">
                    <span class="m-y-4 text-m text-bold ">Simple Typography</span>
                </div>
                <div class="m-y-1 ">
                    <span class="m-y-4 text-xm "> Heading text has 6 different type <strong>1 to 6.</strong></span>
                </div>
                <div class="flex flex-column flex-wrap gap-1 border-1 border-grey-9 width-scaled4-8 wt-max-100 border-solid m-y-11 rounded-s m-auto pd-x-5 pd-y-5">
                    <h1 class="text-xl">H1.Heading</h1>
                    <h2 class="text-lg">H2.Heading</h2>
                    <h3 class="text-m">H3.Heading</h3>
                    <h4 class="text-xm">H4.Heading</h4>
                    <h5 class="text-s">H5.Heading</h5>
                    <h6 class="text-xs">H6.Heading</h6>
                </div>
                <div class="m-auto wt-80 ">
                    <h5 class="m-y-5">Code: </h5> 
                    <iframe src="https://www.thiscodeworks.com/embed/63de4497572d1200159b7b5e" style="width: 100%; height: 164px;" frameborder="0"></iframe>
                    
                 </div>
                 <div class="m-y-11">
                    <span class="m-y-4 text-m text-bold ">Alignment</span>
                </div>
                <div class="m-y-1 ">
                    <span class="m-y-4 text-xm "> Text Alignment has 3 different <strong>text-start, text-center, text-end.</strong></span>
                </div>
                 <div class=" flex flex-wrap flex-column justify-center gap-1 border-1 border-grey-9 width-scaled4-8 wt-max-100 border-solid  m-y-11 rounded-s pd-y-3 pd-x-3 m-auto">
                    <div class="text-s text-start pd-x-4 ">Text Start</div>
                    <div class="text-s text-center pd-x-4 ">Text-Center</div>
                    <div class="text-s text-end pd-x-4 ">Text-Left</div>
                </div>
                <div class="m-auto wt-80 ">
                    <h5 class="m-y-5">Code: </h5> 
                    <iframe src="https://www.thiscodeworks.com/embed/63de44f6572d1200159b7b5f" style="width: 100%; height: 125px;" frameborder="0"></iframe>
                 </div>
                 <div class="m-y-11">
                    <span class="m-y-4 text-m text-bold ">Paragraph</span>
                </div>
                <div class="m-y-1">
                    <span class="m-y-4 text-xm "> Paragraph has 5 different type <strong>text-lg, text-m, text-xm, text-s, text-xs .</strong></span>
                </div>
                 <div class="flex flex-column gap-1 items-center pd-x-4 m-y-11 wt-max-100">
                    <p class="text-lg">1. Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Tempora, mollitia!. </p>
                    <p class=" text-m">2. Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Autem, quis?</p>
                    <p class="text-xm ">3. Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Rem, ipsam.</p>
                    <p class="text-s">4. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ipsam, hic!</p>
                    <p class="text-xs ">5. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, reprehenderit.</p>
                </div>
                <div class="m-auto wt-80 ">
                    <h5 class="m-y-5">Code: </h5> 
                    <iframe src="https://www.thiscodeworks.com/embed/63de4554572d1200159b7b60" style="width: 100%; height: 151px;" frameborder="0"></iframe>
                 </div>
            </section>
        </div>
    </main>
    <script src="/component/default.js"></script>
</body>

</html>