<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Alert.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>WebKit-UI</title>
</head>

<body>
    <main class="flex container ">

        <aside class="wt-30 text-color-0">
            <div class="avatar-sidebar flex  flex-column items-start justify-around  bg-blue-5 pd-x-6 pd-y-6">
                <h3 class="text-lg text-color-0 m-b-8 text">WebKit-UI
                </h3>
                <a href="" class="links wt-100 text-color-0 pd-x-4 pd-y-4">Install WebKit-UI Library</a>

                <a href="/component/Alert/Alert.html" class="links wt-100 text-color-0 pd-x-4 pd-y-4">Alert</a>
                <a href="/component/avatar/avatar.html" class="links wt-100 text-color-0 pd-x-4 pd-y-4">Avatar</a>
                <a href="/component/badges/badge.html" class="links wt-100 text-color-0 pd-x-4 pd-y-4">Badge</a>
                <a href="" class="links wt-100 text-color-0 pd-x-4 pd-y-4">Button</a>
                <a href="" class="links wt-100 text-color-0 pd-x-4 pd-y-4">Card</a>
                <a href="" class="links wt-100 text-color-0 pd-x-4 pd-y-4">Image</a>
                <a href="" class="links wt-100 text-color-0 pd-x-4 pd-y-4">Input</a>
                <a href="" class="links wt-100 text-color-0 pd-x-4 pd-y-4">Text Utilities</a>
                <a href="" class="links wt-100 text-color-0 pd-x-4 pd-y-4">Modal</a>
                <a href="" class="links wt-100 text-color-0 pd-x-4 pd-y-4">Rating</a>
                <a href="" class="links wt-100 text-color-0 pd-x-4 pd-y-4">Navigation</a>
                <a href="" class="links wt-100 text-color-0 pd-x-4 pd-y-4">Slider</a>
                <div class="cursor wt-100 flex justify-around">
                  <a href="" class="links text-color-0"><i class="fab fa-github"></i></a>  
                  <a href="" class="links text-color-0"><i class="fab fa-twitter"></i></a>  
                  <a href="" class="links text-color-0"><i class="fab fa-linkedin-in"></i></a>     
                </div>
            </div>
        </aside>