<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="avatar.css">
    <link rel="stylesheet" href="/style.css">
    <title>WebKit-UI</title>
</head>

<body>
    <main class="avatar-container">

        <aside class="avatar-sidebar text-color-0 ">
            <div class="wrapper bg-blue-5 pd-x-6 pd-y-6">
                <span class="text-lg text-color-0 m-b-8 ">WebKit-UI
                </span>
                <a href="" class="link  text-color-0 pd-x-4 pd-y-5">Install WebKit-UI Library</a>

                <a href="" class="link text-color-0 pd-x-4 pd-y-5">Documentation</a>
                <a href="" class="link text-color-0 pd-x-4 pd-y-5">Alert</a>
                <a href="" class="link text-color-0 pd-x-4 pd-y-5">Avatar</a>
                <a href="" class="link text-color-0 pd-x-4 pd-y-5">Badge</a>
                <a href="" class="link text-color-0 pd-x-4 pd-y-5">Button</a>
                <a href="" class="link text-color-0 pd-x-4 pd-y-5">Card</a>
                <a href="" class="link text-color-0 pd-x-4 pd-y-5">Image</a>
                <a href="" class="link text-color-0 pd-x-4 pd-y-5">Input</a>
                <a href="" class="link text-color-0 pd-x-4 pd-y-5">List</a>
                <a href="" class="link text-color-0 pd-x-4 pd-y-5">List</a>    
            </div>
        </aside>
        <div class="avatar-content">
            <div class="avatar-description">
                <h4>Avatar</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quibusdam nisi quo aut quod optio sit iste cum atque velit!</p>
            </div>    
            <div class="avatar-variation">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit, dignissimos harum. Aut quas temporibus doloribus, omnis dolores ratione, consequuntur, quibusdam dignissimos quia vel qui eveniet quaerat placeat dicta expedita dolor.</p>
            </div>
            <div class="avatar-img">
                <img src="/utilities-css/image/alex.jpg" class="avatar rounded-full sm" alt="">
                <img src="/utilities-css/image/alex.jpg" class="avatar rounded-full m" alt="">
                <img src="/utilities-css/image/alex.jpg" class="avatar rounded-full lg" alt="">
            </div>          
        </div>
    </main>
</body>

</html>