<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="avatar.css">
    <link rel="stylesheet" href="/style.css">
    <title>WebKit-UI</title>
</head>

<body>
    <main class="avatar-container">

        <aside class="avatar-sidebar text-color-0 ">
            <div class="wrapper bg-blue-5 pd-x-6 pd-y-6">
                <span class="text-lg text-color-0 m-b-8 ">WebKit-UI
                </span>
                <a href="" class="link wt-100 text-color-0 pd-x-4 pd-y-6">Install WebKit-UI Library</a>

                
                <a href="" class="link wt-100 text-color-0 pd-x-4 pd-y-6">Alert</a>
                <a href="" class="link wt-100 text-color-0 pd-x-4 pd-y-6">Avatar</a>
                <a href="" class="link wt-100 text-color-0 pd-x-4 pd-y-6">Badge</a>
                <a href="" class="link wt-100 text-color-0 pd-x-4 pd-y-6">Button</a>
                <a href="" class="link wt-100 text-color-0 pd-x-4 pd-y-6">Card</a>
                <a href="" class="link wt-100 text-color-0 pd-x-4 pd-y-6">Image</a>
                <a href="" class="link wt-100 text-color-0 pd-x-4 pd-y-6">Input</a>
                <a href="" class="link wt-100 text-color-0 pd-x-4 pd-y-6">List</a>
                <a href="" class="link wt-100 text-color-0 pd-x-4 pd-y-6">List</a>
            </div>
        </aside>
        <div class="avatar-content ">
            <div class="pd-11">
                <h4 class="text-lg text-regular">Avatar</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quibusdam nisi quo aut quod optio
                    sit iste cum atque velit!</p>
            </div>
            <div class="pd-11">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, aspernatur.</p>
            </div>

            <div class="avatar-img  pd-12 m-auto">
                <img src="/utilities-css/image/alex.jpg" class="avatar rounded-full sm m-5" alt="">
                <img src="/utilities-css/image/alex.jpg" class="avatar rounded-full m m-5" alt="">
                <img src="/utilities-css/image/alex.jpg" class="avatar rounded-full lg m-5" alt="">
            </div>

            <div class="m-auto">
                <embed src="https://carbon.now.sh/J0eMVarY4FY3C19sj7RA" type="" class="frame">
                
            </div>
        </div>
    </main>
</body>

</html>