@import url(/utilities-css/colors.css);
.avatar-container{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "side content content content content  content"
    "side content content content content  content"
    "side content content content content  content"
    "side content content content content  content"
    "side content content content content  content"
    "side content content content content  content"
    "side content content content content  content"
    "side content content content content  content"
    "side content content content content  content"
    ;
}
.avatar-sidebar{  
   height: 100vh;
   grid-area: side;
}
.link{ 
    text-decoration: none;     
}
.link:hover{
    background-color: var(--grey-800);
    opacity: 0.5;
    border-radius: var(--bd-r-3);    
}
.avatar-content{   
    grid-area: content;
}
.avatar{
    border: 0.2rem solid var(--grey-300);
    width: 4rem;
    height: 4rem;
    object-fit: cover;   
}
.frame{
    width: 60rem;
    height: 25rem;
}