<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/d62314cbab.js" crossorigin="anonymous"></script>  
      <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <title>Card</title>
</head>

<body>
    <header >
        <div class=" flex bg-green-3 pd-6 justify-btw items-center ">
            <div class="flex  gap-1 justify-center items-center text-lg text-bold">
                <a href="index.html" class="text-dec text-color-grey-0">WebKit-UI</a>
            </div>
          
            <div class=" flex gap-1">
                <button class="nav-active-btn text-color-grey-0  bg-green-3 text-m" id="nav-button"><i class="fa-solid fa-bars"></i></button>
                <nav class="nav-active bg-green-3 " id="nav-active">
                    <button class="text-color-grey-0  bg-green-3 text-m" id="close-button"><i class="fa-solid fa-xmark"></i></button>
                    <ul class="style-none text-xm gap-1 flex justify-around ">
                        <li class="bg-green-8 rounded-s pd-4 text-center">
                            
                            <a href="/documentation/document.html" class="text-dec text-s text-color-grey-0">Home</a>
                        </li>
                        <li class="bg-green-8 rounded-s  pd-4 text-center">
                            <a href="/documentation/document.html" class="text-dec text-s  text-color-grey-0">Docs</a>
                        </li>
                        <li class="bg-green-8 rounded-s pd-4 text-center">
                            <a href="/documentation/document.html" class="text-dec text-s   text-color-grey-0">GitHub <i class="fa-brands fa-github"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class=" bg-green-3 pd-6 text-color-grey-0 text-xm border-grey-9 border-top-1" id="menu-navigation">
        <span >Menu <i class="fa-sharp fa-solid fa-arrow-down"></i></span>
    </div>
    <main>
        <div class="m-auto wt-80 flex flex-wrap  m-y-11" id="wt-70">
            <aside>
                <div class="drawer z-index-1  wt-100 " id="drawer">
                    <div class="flex flex-1 position-sticky top-0  flex-column items-center justify-center text-gray-8 pd-x-11 ">
                        <h4 class="m-y-4 ">Get Started </h4>
                        <a href="/documentation/document.html" class="text-dec text-color-grey-9  pd-y-2">Installation</a>
                        <h4 class="m-y-4">Components </h4>
                        <nav>
                            <ul  class="style-none flex flex-column items-center " >
                                <li class="m-y-4">
                                    <a href="/component/Alert/Alert.html" class="text-dec  wt-100 text-left text-color-grey-9  ">Alert</a>
                                </li>
                                <li class="pd-y-4">
                                    <a href="/component/avatar/avatar.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Avatar</a>
                                </li>
                            <li class="pd-y-4">
                                <a href="/component/badges/badge.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Badge</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Button/button.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Button</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Cards/cards.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Card</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/images-P0/image.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Image</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Input/Input.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Input</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Text/text.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Text </a>
                            </li>
                            
                            <li class="pd-y-4">
                                <a href="/component/Lists/list.html" class="text-dec wt-100 text-color-grey-9  pd-y-2 ">List</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Navigation/nav.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Navigation</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Modal/modal.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Modal</a>
        
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Rating/rating.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Rating</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Toast/toast.html" class="text-dec wt-100 text-color-grey-9  pd-y-2 ">Toast</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Grid/grid.html" class="text-dec wt-100 text-color-grey-9  pd-y-2 ">Grid</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/slider/slider.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Slider</a>
                            </li>
                        </ul>
                    </nav>
                   
                    <div class="cursor wt-100 flex justify-around m-y-6">
                        <a href="https://github.com/saketkum11" class="text-dec text-color-grey-9"><i class="fab fa-github"></i></a>
                        <a href="https://twitter.com/saketkum11" class="text-dec text-color-grey-9"><i
                                class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/saketkumar21/" class="text-dec text-color-grey-9"><i
                                class="fab fa-linkedin-in"></i>
                            </a>
    
                    </div>
                </div>
              </div>
            </aside>
            <div class="flex-1 wt-70 pd-x-11 ">
                <div class="m-y-6">
                    <h3 class="text-lg text-bold">Cards</h3>
                          <hr>
                    <h3 class="m-y-6">Introduction</h3>
                    <p class="m-t-5 ">Badges are used give status of items.</p>
                </div>
                <div class="m-y-11">
                    <span class="m-y-4 text-xm text-bold ">Simple Card with badge</span>
                </div>

                <section class=" flex items-center flex-wrap justify-center gap-4  m-y-11">
                    <div class="box-shadow-1 m-auto pd-5 flex width-scaled-8 flex-column m-y-8 rounded-s position-rel">
                        <div class="flex flex-column">
                            <h4>Cards Title</h4>
                            <small>Text Secondary</small>
                        </div>
                        <div class="m-y-5"> 
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, minus recusandae aut est reiciendis voluptates odit veritatis doloribus delectus beatae culpa fugiat eaque eveniet? Cum, voluptas beatae earum quia similique consequuntur minima optio minus animi aliquam impedit placeat dignissimos quod, dolorem facere iusto! Excepturi natus obcaecati doloribus consectetur eveniet ipsum.</p>
                        </div>
                        <div class="position-ab top-5 right-5">
                            <i class="fas fa-heart text-color-red-5 cursor"></i>
                        </div>
                    </div>
                </section>
                <div class="m-auto  wt-80 flex-1">
                    <h5 class="m-y-5">Code: </h5> 
                    <iframe src="https://www.thiscodeworks.com/embed/63d7e4f8b855150015f7f323" style="width: 100%; height: 398px;" frameborder="0"></iframe>
                 </div>
                <div class="m-y-11">
                    <span class="m-y-4 text-xm text-bold ">Vertical Card</span>
                </div>
                <section class=" flex items-center flex-wrap  justify-center   m-y-11 ">
                    <div class=" position-rel width-scaled-8  m-auto box-shadow-1 ">
                        <figure class="">
                            <img src="/utilities-css/image/Levis-s.png" alt="" srcset="" class="wt-100 height-auto rounded-top-2 rounded-top-2">
                        </figure>
                         <div class="pd-x-4">
                             <div class="flex flex-column m-y-4">
                               <h3> Levis black</h3>
                               <small class="text-color-grey-2">T-Shirt</small>
                             </div>
                             <div class="m-y-4">
                               <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est saepe accusamus, autem vitae expedita sunt ab excepturi sint, laudantium culpa quas omnis perspiciatis corrupti eligendi qui placeat. Cupiditate, libero fugiat?</p>
                             </div>
                             <div class="m-y-4">
                                 <span class="text-bold">₹399.00</span>
                                </div>
                             <div class="flex flex-column gap-1 m-y-4">
                               <button class="bg-black-6 text-color-grey-0 cursor pd-y-4"> Add To Cart</button>
                               <button class=" bg-green-8 text-color-grey-0 cursor pd-y-4">Buy Now</button>
                            </div>
                        </div>
                         <div class="position-ab top-0 right-0 text-color-grey-4">
                           <button>
                              <i class="fa-solid fa-square-xmark fa-2x"></i>
                           </button> 
                         </div>
                    </div>
                </section>
                
                <div class="m-auto  wt-80 flex-1">
                     <h5 class="m-y-5">Code: </h5> 
                     <iframe src="https://www.thiscodeworks.com/embed/63d8fd168549170015a8aeac" style="width: 100%; height: 398px;" frameborder="0"></iframe>
                </div>
                <div class="m-y-11">
                    <span class="m-y-4 text-xm text-bold">Horizonatal Card with text</span>
                </div>
                <section class=" flex items-center flex-wrap  gap-3 justify-center m-y-11">
                    <div class=" position-rel flex items-center justify-btw width-scaled4-8 box-shadow-1 ">
                        <figure class="flex-1">
                            <img src="/utilities-css/image/Levis-s.png" alt="Vertical-card" srcset="" class=" object-content-center">
                        </figure>
                         <div class="pd-x-4 flex-1">
                             <div class="flex flex-column m-y-4">
                               <h3> Levis black</h3>
                               <small class="text-color-grey-2">T-Shirt</small>
                             </div>
                             <div class="m-y-4">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est saepe accusamus, autem vitae expedita sunt ab excepturi sint, laudantium culpa quas omnis perspiciatis corrupti eligendi qui placeat. Cupiditate, libero fugiat?</p>
                              </div>
                             <div class="m-y-4">
                                 <span class="text-bold">₹399.00</span>
                                </div>
                             <div class="flex flex-column gap-1 m-y-4">
                               <button class=" bg-green-8 text-color-grey-0 cursor pd-y-4">Buy Now</button>
                            </div>
                        </div>
                         <div class="position-ab top-0 right-0 ">
                           <button>
                              <i class="fa-solid fa-square-xmark fa-2x text-color-grey-3"></i>
                           </button> 
                         </div>
                    </div>
                    <div class=" position-rel flex items-center width-scaled4-8 box-shadow-1 ">
                        <figure class="flex-1">
                            <img src="/utilities-css/image/Levis-s.png" alt="Vertical-card" srcset="" class=" object-content-center">
                        </figure>
                         <div class="pd-x-4 flex-1  wt-60 justify-even  ">
                             <div class="flex flex-column m-y-4">
                               <h3> Levis black</h3>
                               <small class="text-color-grey-4">T-Shirt</small>
                             </div>
                             <div class="m-y-4">
                                 <span class="text-bold text-m">₹399.00</span>
                             </div>
                             <div class="flex flex-column  m-y-4">
                               <button class=" bg-green-8 text-color-grey-0 cursor pd-y-4">Buy Now</button>
                            </div>
                        </div>
                         <div class="position-ab top-0 right-0 ">
                           <button>
                              <i class="fa-solid fa-square-xmark fa-2x text-color-grey-3"></i>
                           </button> 
                         </div>
                    </div>
                </section>
                <div class="m-auto  wt-80 flex-1">
                    <h5 class="m-y-5">Code: </h5> 
                    <iframe src="https://www.thiscodeworks.com/embed/63d90e368549170015a8aeb1" style="width: 100%; height: 372px;" frameborder="0"></iframe>
               </div>
                <div class="m-auto m-y-11 wt-80 flex-1">
                     <h5 class="m-y-5">Code: </h5> 
                     <iframe src="https://www.thiscodeworks.com/embed/63d90f728549170015a8aeb2" style="width: 100%; height: 411px;" frameborder="0"></iframe>
                </div>

                <div class="m-y-11">
                    <span class="m-y-4 text-xm text-bold"> Card with overlay</span>
                </div>
                <section class=" flex items-center flex-wrap  justify-center   m-y-11 ">
                    <div class=" position-rel width-scaled-8  m-auto box-shadow-1 ">
                        <figure >
                            <img src="/utilities-css/image/Levis-s.png" alt="" srcset="" class="wt-100 height-auto rounded-top-2 rounded-top-2">
                        </figure>
                        <div class="position-ab flex justify-center items-center top-0 ht-100 bg-overlay z-index-2 wt-100 text-color-grey-0 text-bold text-m">
                            <p>Out of Stock</p>
                         </div>
                         <div class="pd-x-4">
                             <div class="flex flex-column m-y-4">
                               <h3> Levis black</h3>
                               <small class="text-color-grey-2">T-Shirt</small>
                             </div>
                            
                             <div class="m-y-4">
                               <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est saepe accusamus, autem vitae expedita sunt ab excepturi sint, laudantium culpa quas omnis perspiciatis corrupti eligendi qui placeat. Cupiditate, libero fugiat?</p>
                             </div>
                             <div class="m-y-4">
                                 <span class="text-bold">₹399.00</span>
                                </div>
                             <div class="flex flex-column gap-1 m-y-4">
                               <button class="bg-black-6 text-color-grey-0 cursor pd-y-4"> Add To Cart</button>
                               <button class=" bg-green-8 text-color-grey-0 cursor pd-y-4">Buy Now</button>
                            </div>
                        </div>
                         <div class="position-ab top-0 right-0 text-color-grey-4">
                           <button>
                              <i class="fa-solid fa-square-xmark fa-2x"></i>
                           </button> 
                         </div>
                    </div>
                    
                </section>   
                <div class="m-auto m-y-11 wt-80 flex-1">
                    <h5 class="m-y-5">Code: </h5> 
                    <iframe src="https://www.thiscodeworks.com/embed/63d916c78549170015a8aeb4" style="width: 100%; height: 424px;" frameborder="0"></iframe>
               </div>
            </div>
        </div>
    </main>
    <script src="/component/default.js"></script>
</body>

</html>