<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/component/Cards/cards.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>WebKit-UI</title>
</head>

<body>
    <main class="flex container">
        <aside class="text-color-0">
            <div class="avatar-sidebar flex  flex-column items-start justify-even bg-blue-5 pd-x-6 pd-y-6 ">
                <h3 class="text-lg text-color-0 m-b-8 text">WebKit-UI
                </h3>
                <a href="" class="links wt-100 text-color-0 pd-x-4 pd-y-2 m-0">Install WebKit-UI Library</a>
                <a href="/" class="links wt-100 text-color-0 pd-x-4 pd-y-2 m-0">Alert</a>
                <a href="/component/avatar/avatar.html" class="links wt-100 text-color-0 pd-x-4 pd-y-2">Avatar</a>
                <a href="/component/badges/badge.html" class="links wt-100 text-color-0 pd-x-4 pd-y-2">Badge</a>
                <a href="/component/Button/button.html" class="links wt-100 text-color-0 pd-x-4 pd-y-2">Button</a>
                <a href="/component/Cards/cards.html" class="links wt-100 text-color-0 pd-x-4 pd-y-2">Card</a>
                <a href="" class="links wt-100 text-color-0 pd-x-4 pd-y-2">Image</a>
                <a href="" class="links wt-100 text-color-0 pd-x-4 pd-y-2">Input</a>
                <a href="" class="links wt-100 text-color-0 pd-x-4 pd-y-2">Text Utilities</a>
                <a href="" class="links wt-100 text-color-0 pd-x-4 pd-y-2">Modal</a>
                <a href="" class="links wt-100 text-color-0 pd-x-4 pd-y-2">Rating</a>
                <a href="" class="links wt-100 text-color-0 pd-x-4 pd-y-2">Navigation</a>
                <a href="" class="links wt-100 text-color-0 pd-x-4 pd-y-2">Slider</a>

                <div class="cursor wt-100 flex justify-around">
                    <a href="" class="links text-color-0"><i class="fab fa-github"></i></a>
                    <a href="" class="links text-color-0"><i class="fab fa-twitter"></i></a>
                    <a href="" class="links text-color-0"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </aside>

        <div class=" avatar-content pd-x-11 pd-y-11 flex flex-column items-start m-auto m-t-9 wt-max-50">
            <div class=" avatar-head ">
                <h3 class="text-lg text-light">Cards</h3>
                <p class="m-t-5 "></p>
            </div>



            <div class="avatar-head m-t-8">
                <small class="text-s ">Cards with badges and dismiss</small>
            </div>
            <div class="m-auto pd-x-11 pd-y-6 wt-100 flex flex-column justify-around m-t-5 m-b-8">

                <!--- Cards with Badge-->

                <div class="box-shadow pd-x-5 pd-y-5 flex flex-column m-b-8 rounded-s position-rel">
                    <!-- Card with the badge -->
                    <h4>Cards Title</h4>
                    <small>Text Secondary</small>

                    <div class="m-t-5">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, magnam.</p>
                    </div>
                    <div class="flex items-end m-t-5 ">
                        <a href="" class="pd-x-8 rounded-s pd-y-2 text-color-0 bg-blue-5 text-dec m-r-8">Link 1</a>
                        <a href="" class="pd-x-8 rounded-s text-color-0 pd-y-2 bg-blue-5 text-dec ">Link 2</a>
                    </div>
                    <div class="position-ab position">
                        <i class="fas fa-heart color-red-7 cursor"></i>
                    </div>


                </div>
                <div class="m-auto m-t-11">

                    <iframe src="https://carbon.now.sh/embed/6Jtvsnd1Je0OmsGHC6Kw"
                        style="width: 35rem; height: 15rem; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <!--- Cards with dismiss-->


                <div
                    class="box-shadow wt-50 h-70 m-auto  pd-x-5 flex flex-column justify-even  pd-y-3 rounded-s position-rel m-t-11 m-b-11">
                    <h4>Cards Title</h4>
                    <span>Text Secondary</span>

                    <div class="m-t-5">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, magnam.</p>
                    </div>
                    <div class="flex  m-t-8 ">
                        <a href="" class="pd-x-8 rounded-s pd-y-2 text-color-0 bg-blue-5 text-dec m-r-8">Link 1</a>
                        <a href="" class="pd-x-8 rounded-s text-color-0 pd-y-2 bg-blue-5 text-dec ">Link 2</a>
                    </div>
                    <div class="position-ab position">
                        <i class="fas fa-times cursor"></i>

                    </div>

                </div>
                <div>
                    <iframe src="https://carbon.now.sh/embed/4Wd5slPsiz8Gv8AnXFOS"
                        style="width: 35rem; height: 15rem; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>

                <!--- Cards with text overlays-->

                <div class="avatar-head m-t-11">
                <span class="text-s ">Cards with overlays</span>
                </div>

                <div class="box-shadow wt-50 h-70 m-auto   flex flex-column justify-even   rounded-s  m-y-11">
                    <img src="/utilities-css/image/mountains.jpg" class="wt-100 object-content" alt="">

                    <div class="pd-5">
                        <div class=" m-negative text-color-0">
                            <h4>Cards Title</h4>
                            <small>Text Secondary</small>
                        </div>
                        <div class="m-t-5">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, magnam.</p>
                        </div>
                        <div class="flex  m-t-8 ">
                            <a href="" class="pd-x-8 rounded-s pd-y-2 text-color-0 bg-blue-5 text-dec m-r-8">Link 1</a>
                            <a href="" class="pd-x-8 rounded-s text-color-0 pd-y-2 bg-blue-5 text-dec ">Link 2</a>
                        </div>
                    </div>
                </div>

                <div>
                    <iframe src="https://carbon.now.sh/embed/NO8k37s9DqhxY1thrSDP"
                        style="width: 35rem; height: 15rem; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>


            </div>


            <!--- card with overlays-->
            <div class="avatar-head m-t-8">
                <small class="text-s ">Cards with badges</small>
            </div>
        </div>
    </main>
</body>

</html>