* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}
/* Blocks */
html,
body,
figure,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* Form */
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
}


:root {

    --auto : auto;
    /*height*/
    --height-1: 1rem;
    --height-2: 2rem;
    --height-3: 3rem;
    --height-4: 4rem;
    --height-5: 5rem;
    --height-6: 6rem;
    --height-7: 7rem;
    --height-8: 8rem;
    --height-9: 9rem;
    --height-10: 10rem;

    /* width  */
    --width-1: 1rem;
    --width-2: 2rem;
    --width-3: 3rem;
    --width-4: 4rem;
    --width-5: 5rem;
    --width-6: 6rem;
    --width-7: 7rem;
    --width-8: 8rem;
    --width-9: 9rem;
    --width-10: 10rem;

    /* top  */
    --top-0: 0rem;
    --top-1: 0.25rem;
    --top-2: 0.5rem;
    --top-3: 0.75rem;
    --top-4: 1rem;
    --top-5: 1.25rem;
    --top-6: 1.5rem;
    --top-7: 1.75rem;
    --top-8: 2rem;
    --top-9: 2.5rem;
    --top-10: 3rem;
    
    /* buttom*/
    
    --buttom-0: 0rem;
    --buttom-1: 0.25rem;
    --buttom-2: 0.5rem;
    --buttom-3: 0.75rem;
    --buttom-4: 1rem;
    --buttom-5: 1.25rem;
    --buttom-6: 1.5rem;
    --buttom-7: 1.75rem;
    --buttom-8: 2rem;
    --buttom-9: 2.5rem;
    --buttom-10: 3rem;

    /* right*/
    --right-0: 0rem;
    --right-1: 0.25rem;
    --right-2: 0.5rem;
    --right-3: 0.75rem;
    --right-4: 1rem;
    --right-5: 1.25rem;
    --right-6: 1.5rem;
    --right-7: 1.75rem;
    --right-8: 2rem;
    --right-9: 2.5rem;
    --right-10: 3rem;

    /*left*/
    --left-0: 0rem;
    --left-1: 0.25rem;
    --left-2: 0.5rem;
    --left-3: 0.75rem;
    --left-4: 1rem;
    --left-5: 1.25rem;
    --left-6: 1.5rem;
    --left-7: 1.75rem;
    --left-8: 2rem;
    --left-9: 2.5rem;
    --left-10: 3rem;
    /* gap */
    --gap-1: 1rem;
    --gap-2: 2rem;
    --gap-3: 3rem;
    --gap-4: 4rem;
    --gap-5: 5rem;

    /* percentage */
    --percentage-1: 10%;
    --percentage-2: 20%;
    --percentage-3: 30%;
    --percentage-4: 40%;
    --percentage-5: 50%;
    --percentage-6: 60%;
    --percentage-7: 70%;
    --percentage-8: 80%;
    --percentage-9: 90%;
    --percentage-10: 100%;

}


/* fixed height*/

.height-1rem {
    height: var(--height-1);
}

.height-2rem {
    height: var(--height-2);
}

.height-3rem {
    height: var(--height-3);
}

.height-4rem  {
    height: var(--height-4);
}

.height-5rem {
    height: var(--height-5);
}

.height-6rem {
    height: var(--height-6);
}

.height-7rem {
    height: var(--height-7);
}

.height-8rem {
    height: var(--height-8);
}
.height-9rem {
    height: var(--height-9);
}
.height-10rem {
    height: var(--height-10);
}


/* height  viewHight*/
.h-vh-10{
    height: 100vh;
}
.h-vh-10{
    height: 10vh;
}
.h-vh-20{
    height: 20vh;
}
.h-vh-30{
    height: 30vh;
}
.h-vh-40{
    height: 40vh;
}
.h-vh-50{
    height: 50vh;
}
.h-vh-60{
    height: 60vh;
}
.h-vh-70{
    height: 70vh;
}
.h-vh-80{
    height: 80vh;
}
.h-vh-90{
    height: 90vh;
}
/* hight percentage */
.ht-10 {
    height: var(--percentage-1);
}
.ht-20{
    height: var(--percentage-2);
}
.ht-30{
    height: var(--percentage-3);
}
.ht-40{
    height: var(--percentage-4);
}
.ht-50{
    height: var(--percentage-5);
}
.ht-60{
    height: var(--percentage-6);
}
.ht-70{
    height: var(--percentage-7);
}
.ht-80{
    height: var(--percentage-8);
}
.ht-90{
    height: var(--percentage-9);
}

.ht-auto {
    height: var(--auto);
}

.ht-100 {
    height: var(--percentage-10);
}

/* fixed width*/


.width-1 {
    width: var(--width-1);
}

.width-2 {
    width: var(--width-2);
}

.width-3 {
    width: var(--width-3);
}

.width-4 {
    width: var(--width-4);
}

.width-5 {
    width: var(--width-5);
}

.width-6 {
    width: var(--width-6);
}

.width-7 {
    width: var(--width-7);
}

.width-8 {
    width: var(--width-8);
}
.width-9 {
    width: var(--width-9);
}

.width-10 {
    width: var(--width-10);
}


/* width */

.wt-20{
    width: 20%;
}
.wt-30 {
    width: 30%;
}
.wt-40{
    width: 40%;
}
.wt-50 {
    width: 50%;
}
.wt-60{
    width: 60%;
}
.wt-70 {
    width: 70%;
}

.wt-80 {
    width: 80%;
}
.wt-90{
    width: 90%;
}
.wt-100 {
    width: 100%;
}
.wt-max-30 {
    max-width: 30%;
}

.wt-max-50 {
    max-width: 50%;
}

.wt-max-70 {
    max-width: 70%;
}

.wt-max-80 {
    max-width: 80%;
}

.wt-max-100 {
    max-width: 100%;
}


/* flex properties */

.display-none{
    display: none;
}
.display-block{
    display: block;
}

.flex {
    display: flex;
}
.flex-1{
    flex: 1;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-even {
    justify-content: space-around;
}

.justify-around {
    justify-content: space-around;
}

.justify-btw {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}
/*grid*/
.grid{
    display: grid;
}
.grid-cols-1{
    grid-template-columns: 1fr;
}
.grid-cols-1_4{
    grid-template-columns: 1fr 4fr;
}
/* gap */
.gap-1{
    gap: var(--gap-1);
}
.gap-2{
    gap: var(--gap-2);
}
.gap-3{
    gap: var(--gap-3);
}
.gap-4{
    gap: var(--gap-4);
}

.gap-5{
   
    gap: var(--gap-5);
}
.place-center{
    place-items: center;
}
/* border */ 
.border-grey {

    border: 4px solid var(--grey-400);

}
.border-radius-0{
    border-radius: var(--width-0);
}
.border-radius-1{
    border-radius: var(--width-1);
}
.border-radius-2{
    border-radius: var(--width-2);
}
.border-radius-3{
    border-radius: var(--width-3);
}
.border-radius-4{
    border-radius: var(--width-4);
}
/* position*/


.overflow-hide {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.cursor {
    cursor: pointer;
}

.position-rel {
    position: relative;
}

.position-ab {
    position: absolute;
}
.position-sticky {
    position: sticky;
}
.position-fixed{
    position: fixed;
}
.border-none{
    border:none
}
.outline-none{
    outline: none;
}
.text-dec{
    text-decoration: none;
}
.box-shadow{
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.7);
}
.box-shadow-1{
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}
.box-shadow-2{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) 
}
.style-none{
    list-style: none;
}
.z-index{
    z-index: 1;
}


.z-index {
    z-index: 1;
}

/*top*/
.top-0{
    top: 0;
}
.top-10{
    top:10%;
}
.top-50 {
    top: 50%;
}

.top-40 {
    top: 40%;
}

.top-30 {
    top: 30%;
}
.top-60 {
    top: 60%;
}
.top-70{
    top:70;
}
.top-80{
    top:80;
}
.top-90{
    top:90;
}
.top-100{
    top:100;
}
/*right*/
.p-r-5 {
    right: 50%;
}

.p-r-4 {
    right: 40%;
}

.p-r-3 {
    right: 30%;
}


/*bottom*/
.p-btm-0{
    bottom: 0%;
}
.p-btm-5 {
    bottom: 50%;
}

.p-btm-4 {
    bottom: 40%;
}

.p-btm-3 {
    bottom: 30%;
}



/*left*/
.left-50 {
    left: 50%;
}
.left-10{
    left: 10%;
}
.left-0{
    left: 0;
}

.p-lf-4 {
    left: 40%;
}

.p-lf-3 {
    left: 30%;
}

.p-lf-2 {
    left: 20%;
}

.p-lf-15 {
    left: 15%;
}

.p-b-0 {
    bottom: 0%;

}
/* upper case */
.text-transform-upper{
    text-transform: uppercase;
}
.text-transform-lower{
    text-transform: lowercase;
}
/* object */
.object-fit-cover{
    object-fit: cover;
}
