* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}

:root {
    /*height*/
    --height-10: 3rem;
    --height-9: 2.5rem;
    --height-8: 2rem;
    --height-7: 1.75rem;
    --height-6: 1.5rem;
    --height-5: 1.25rem;
    --height-4: 1rem;
    --height-3: 0.75rem;
    --height-2: 0.5rem;
    --height-1: 0.25rem;
    --height-0: 0rem;

    /* width  */
    --width-10: 3rem;
    --width-9: 2.5rem;
    --width-8: 2rem;
    --width-7: 1.75rem;
    --width-6: 1.5rem;
    --width-5: 1.25rem;
    --width-4: 1rem;
    --width-3: 0.75rem;
    --width-2: 0.5rem;
    --width-1: 0.25rem;
    --width-0: 0rem;

    /* top  */
    --top-10: 3rem;
    --top-9: 2.5rem;
    --top-8: 2rem;
    --top-7: 1.75rem;
    --top-6: 1.5rem;
    --top-5: 1.25rem;
    --top-4: 1rem;
    --top-3: 0.75rem;
    --top-2: 0.5rem;
    --top-1: 0.25rem;
    --top-0: 0rem;

    /* buttom*/
    
    --buttom-10: 3rem;
    --buttom-9: 2.5rem;
    --buttom-8: 2rem;
    --buttom-7: 1.75rem;
    --buttom-6: 1.5rem;
    --buttom-5: 1.25rem;
    --buttom-4: 1rem;
    --buttom-3: 0.75rem;
    --buttom-2: 0.5rem;
    --buttom-1: 0.25rem;
    --buttom-0: 0rem;

    /* right*/
    --right-10:3rem;
    --right-9:2.5rem;
    --right-8: 2rem;
    --right-7: 1.75rem;
    --right-6: 1.5rem;
    --right-5: 1.25rem;
    --right-4: 1rem;
    --right-3: 0.75rem;
    --right-2: 0.5rem;
    --right-1: 0.25rem;
    --right-0: 0rem;

    /*left*/
    --left-10:3rem;
    --left-9:2.5rem;
    --left-8: 2rem;
    --left-7: 1.75rem;
    --left-6: 1.5rem;
    --left-5: 1.25rem;
    --left-4: 1rem;
    --left-3: 0.75rem;
    --left-2: 0.5rem;
    --left-1: 0.25rem;
    --left-0: 0rem;


}


.object-content {
    object-fit: cover;
}

/* fixed height*/

.h-fixed-0 {
    height: var(--height-0);
}

.h-fixed-1 {
    height: var(--height-1);
}

.h-fixed-2 {
    height: var(--height-2);
}

.h-fixed-3 {
    height: var(--height-3);
}

.h-fixed-4 {
    height: var(--height-4);
}

.h-fixed-5 {
    height: var(--height-5);
}

.h-fixed-6 {
    height: var(--height-6);
}

.h-fixed-7 {
    height: var(--height-7);
}

.h-fixed-8 {
    height: var(--height-8);
}
.h-fixed-9 {
    height: var(--height-9);
}
.h-fixed-10 {
    height: var(--height-10);
}


/* height fluid*/
.h-vh-10{
    height: 100vh;
}
.h-10 {
    height: 10%;
}
.h-50{
    height: 50%;
}
.h-70{
    height: 70%;
}
.h-auto {
    height: auto;
}

.h-100 {
    height: 100%;
}

/* fixed width*/
.wt-fixed-0 {
    width: var(--width-0);
}

.wt-fixed-1 {
    width: var(--width-1);
}

.wt-fixed-2 {
    width: var(--width-2);
}

.wt-fixed-3 {
    width: var(--width-3);
}

.wt-fixed-4 {
    width: var(--width-4);
}

.wt-fixed-5 {
    width: var(--width-5);
}

.wt-fixed-6 {
    width: var(--width-6);
}

.wt-fixed-7 {
    width: var(--width-7);
}

.wt-fixed-8 {
    width: var(--width-8);
}
.wt-fixed-9 {
    width: var(--width-9);
}

.wt-fixed-10 {
    width: var(--width-10);
}


/* width */
.wt-35{
    width: 35rem;
}
.wt-20{
    width: 20%;
}
.wt-30 {
    width: 30%;
}
.wt-40{
    width: 40%;
}
.wt-50 {
    width: 50%;
}
.wt-60{
    width: 60%;
}
.wt-70 {
    width: 70%;
}

.wt-80 {
    width: 80%;
}
.wt-90{
    width: 90%;
}
.wt-100 {
    width: 100%;
}
.wt-max-30 {
    max-width: 30%;
}

.wt-max-50 {
    max-width: 50%;
}

.wt-max-70 {
    max-width: 70%;
}

.wt-max-80 {
    max-width: 80%;
}

.wt-max-100 {
    max-width: 100%;
}

/* size image*/
.sm {
    width: 2rem;
    height: 2rem;
}

.m {
    width: 3rem;
    height: 3rem;
}

.lg {
    width: 4rem;
    height: 4rem;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-even {
    justify-content: space-around;
}

.justify-around {
    justify-content: space-around;
}

.justify-btw {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}
/*grid*/
.grid{
    display: grid;
}
.grid-cols-1{
    grid-template-columns: 1fr;
}
.grid-cols-2{
    grid-template-columns: repeat(2,1fr);
}
.gap-5{
   
    gap: 5rem;
}
.place-center{
    place-items: center;
}
/* border */ 
.border-grey {

    border: 4px solid var(--grey-400);

}
.border-radius-0{
    border-radius: var(--width-0);
}
.border-radius-1{
    border-radius: var(--width-1);
}
.border-radius-2{
    border-radius: var(--width-2);
}
.border-radius-3{
    border-radius: var(--width-3);
}
.border-radius-4{
    border-radius: var(--width-4);
}
/* position*/


.overflow-hide {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.cursor {
    cursor: pointer;
}

.position-rel {
    position: relative;
}

.position-ab {
    position: absolute;
}
.border-none{
    border:none
}
.outline-none{
    outline: none;
}
.text-dec{
    text-decoration: none;
}
.box-shadow{
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.7);
}
.box-shadow-1{
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}
.box-shadow-2{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) 
}
.style-none{
    list-style: none;
}
.z-index{
    z-index: 1;
}

.style-none {
    list-style: none;
}

.z-index {
    z-index: 1;
}

/*top*/
.p-t-5 {
    top: 50%;
}

.p-t-4 {
    top: 40%;
}

.p-t-3 {
    top: 30%;
}

/*right*/
.p-r-5 {
    right: 50%;
}

.p-r-4 {
    right: 40%;
}

.p-r-3 {
    right: 30%;
}


/*bottom*/
.p-btm-0{
    bottom: 0%;
}
.p-btm-5 {
    bottom: 50%;
}

.p-btm-4 {
    bottom: 40%;
}

.p-btm-3 {
    bottom: 30%;
}



/*left*/
.p-lf-5 {
    left: 50%;
}


.p-lf-4 {
    left: 40%;
}

.p-lf-3 {
    left: 30%;
}

.p-lf-2 {
    left: 20%;
}

.p-lf-15 {
    left: 15%;
}

.p-b-0 {
    bottom: 0%;

}
/* upper case */
.text-transform-upper{
    text-transform: uppercase;
}
.text-transform-lower{
    text-transform: lowercase;
}