<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/d62314cbab.js" crossorigin="anonymous"></script>  
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <title>Images</title>
</head>

<body>

    <header >
        <div class=" flex bg-green-3 pd-6 justify-btw items-center ">
            <div class="flex  gap-1 justify-center items-center text-lg text-bold">
                <a href="index.html" class="text-dec text-color-grey-0">WebKit-UI</a>
            </div>
          
            <div class=" flex gap-1">
                <button class="nav-active-btn text-color-grey-0  bg-green-3 text-m" id="nav-button"><i class="fa-solid fa-bars"></i></button>
                <nav class="nav-active bg-green-3 " id="nav-active">
                    <button class="text-color-grey-0  bg-green-3 text-m" id="close-button"><i class="fa-solid fa-xmark"></i></button>
                    <ul class="style-none text-xm gap-1 flex justify-around ">
                        <li class="bg-green-8 rounded-s pd-4 text-center">
                            
                            <a href="/documentation/document.html" class="text-dec text-s text-color-grey-0">Home</a>
                        </li>
                        <li class="bg-green-8 rounded-s  pd-4 text-center">
                            <a href="/documentation/document.html" class="text-dec text-s  text-color-grey-0">Docs</a>
                        </li>
                        <li class="bg-green-8 rounded-s pd-4 text-center">
                            <a href="/documentation/document.html" class="text-dec text-s   text-color-grey-0">GitHub <i class="fa-brands fa-github"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class=" bg-green-3 pd-6 text-color-grey-0 text-xm border-grey-9 border-top-1" id="menu-navigation">
        <span >Menu <i class="fa-sharp fa-solid fa-arrow-down"></i></span>
    </div>
    <main>
        <div class="m-auto wt-80 flex flex-wrap  m-y-11" id="wt-70">
            <aside>
                <div class="drawer z-index-1  wt-100 " id="drawer">
                    <div class="flex flex-column items-center justify-center text-gray-8 pd-x-11 ">
                        <h4 class="m-y-4 ">Get Started </h4>
                        <a href="/documentation/document.html" class="text-dec text-color-grey-9  pd-y-2">Installation</a>
                        <h4 class="m-y-4">Components </h4>
                        <nav>
                            <ul  class="style-none flex flex-column items-center " >
                                <li class="m-y-4">
                                    <a href="/component/Alert/Alert.html" class="text-dec  wt-100 text-left text-color-grey-9  ">Alert</a>
                                </li>
                                <li class="pd-y-4">
                                    <a href="/component/avatar/avatar.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Avatar</a>
                                </li>
                            <li class="pd-y-4">
                                <a href="/component/badges/badge.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Badge</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Button/button.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Button</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Cards/cards.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Card</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/images/image.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Image</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Input/Input.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Input</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Text/text.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Text </a>
                            </li>
                            
                            <li class="pd-y-4">
                                <a href="/component/Lists/list.html" class="text-dec wt-100 text-color-grey-9  pd-y-2 ">List</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Navigation/nav.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Navigation</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Modal/modal.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Modal</a>
        
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Rating/rating.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Rating</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Toast/toast.html" class="text-dec wt-100 text-color-grey-9  pd-y-2 ">Toast</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/Grid/grid.html" class="text-dec wt-100 text-color-grey-9  pd-y-2 ">Grid</a>
                            </li>
                            <li class="pd-y-4">
                                <a href="/component/slider/slider.html" class="text-dec wt-100 text-color-grey-9  pd-y-2">Slider</a>
                            </li>
                        </ul>
                    </nav>
                   
                    <div class="cursor wt-100 flex justify-around m-y-6">
                        <a href="https://github.com/saketkum11" class="text-dec text-color-grey-9"><i class="fab fa-github"></i></a>
                        <a href="https://twitter.com/saketkum11" class="text-dec text-color-grey-9"><i
                                class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/saketkumar21/" class="text-dec text-color-grey-9"><i
                                class="fab fa-linkedin-in"></i>
                            </a>
                    </div>
                </div>
              </div>
            </aside>
        </div>
    </main>
    <main class="flex container">

        <aside class="text-color-0">
            <div class="sidebar flex  flex-column items-start justify-even bg-blue-5 pd-x-6 pd-y-6 ">
                <h3 class="text-lg text-color-0 m-b-8 text">WebKit-UI
                </h3>

                <a href="/documentation/document.html" class="links wt-100 text-color-0 pd-x-4 pd-y-2  m-0">Install
                    WebKit-UI </a>
                <a href="/component/Alert/Alert.html" class="links wt-100 text-color-0 pd-x-4 pd-y-2  m-0">Alert</a>
                <a href="/component/avatar/avatar.html" class="links wt-100 text-color-0 pd-x-4 pd-y-2 ">Avatar</a>
                <a href="/component/badges/badge.html" class="links wt-100 text-color-0 pd-x-4 pd-y-2 ">Badge</a>
                <a href="/component/Button/button.html" class="links wt-100 text-color-0 pd-x-4 pd-y-2 ">Button</a>
                <a href="/component/Cards/cards.html" class="links wt-100 text-color-0 pd-x-4 pd-y-2 ">Card</a>
                <a href="/component/images-P0/image.html" class="links wt-100 text-color-0 pd-x-4 pd-y-2 ">Image</a>
                <a href="/component/Input/Input.html" class="links wt-100 text-color-0 pd-x-4 pd-y-2 ">Input</a>
                <a href="/component/Text/text.html" class="links wt-100 text-color-0 pd-x-4 pd-y-2 ">Text
                    Utilities</a>
                <a href="/component/Lists/list.html" class="links wt-100 text-color-0 pd-x-4 pd-y-2 ">List</a>
                <a href="/component/Navigation/nav.html" class="links wt-100 text-color-0 pd-x-4 pd-y-2 ">Navigation</a>
                <a href="/component/Modal/modal.html" class="links wt-100 text-color-0 pd-x-4 pd-y-2 ">Modal</a>
                <a href="/component/Rating/rating.html" class="links wt-100 text-color-0 pd-x-4 pd-y-2 ">Rating</a>
                <a href="/component/Toast/toast.html" class="links wt-100 text-color-0 pd-x-4 pd-y-2 ">Toast</a>
                <a href="/component/Grid/grid.html" class="links wt-100 text-color-0 pd-x-4 pd-y-2 ">Grid</a>
                <a href="/component/slider/slider.html" class="links wt-100 text-color-0 pd-x-4 pd-y-2 ">Slider</a>

                <div class="cursor wt-100 flex justify-around">
                    <a href="https://github.com/saketkum11" class="links text-color-0"><i class="fab fa-github"></i></a>
                    <a href="https://twitter.com/saketkum11" class="links text-color-0"><i
                            class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/saketkumar21/" class="links text-color-0"><i
                            class="fab fa-linkedin-in"></i></a>

                </div>
            </div>
        </aside>

        <div class="box-shadow-1 content pd-9 flex flex-column items-start  m-t-9 wt-80">
            <div class="head ">

                <h3 class="text-lg text-light">Image</h3>
                <small class="m-t-5 "> Images explains about specific information.Its should be resposive.</small>
            </div>
            <div class="head m-y-8">

                <small class="text-xm ">Resposive Image</small>

            </div>
            <div class=" flex flex-column items-center wt-100">

                <!--- Responsive image-->




                <img src="/utilities-css/image/alex.jpg" class="object-content wt-50 " alt="img-responsive">





            </div>

            <div class="m-auto m-y-8">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=auto&width=976.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=14px&ph=26px&ln=false&fl=1&fm=Fira+Code&fs=10.5px&lh=100%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520src%253D%2522%252Futilities-css%252Fimage%252Falex.jpg%2522%2520class%253D%2522object-content%2520wt-50%2520%2522%2520alt%253D%2522img-responsive%2522%253E"
                    style="width: 60rem; height: 10rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <div class=" m-y-8 ">
                <small class="text-xm ">Rounded Image</small>
            </div>

            <!--- Rounded Image-->
            <img src="/utilities-css/image/norway-2.jpg" class="wt-50 object-content  m-auto rounded-L object-content "
                alt="img-responsive">
            <div class="m-auto m-y-8">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=material&wt=none&l=auto&width=976.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=14px&ph=26px&ln=false&fl=1&fm=Fira+Code&fs=10.5px&lh=100%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520src%253D%2522%252Futilities-css%252Fimage%252Fnorway-2.jpg%2522%2520class%253D%2522wt-50%2520object-content%2520%2520m-auto%2520rounded-L%2520object-content%2520%2522%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520alt%253D%2522img-responsive%2522%253E"
                    style="width: 60rem; height: 10rem; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>

        </div>
    </main>
</body>

</html>