
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');


* {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
}

body {
    font-family: 'Montserrat',
        sans-serif;
    font-family: 'Poppins',
        sans-serif;

}

.main-container > * {
   flex: 1 1 200px;
}


.container {
    max-width: 100%;
}

.sidebar {
    width: 15rem;
    height: 100%;
    position: fixed;
    overflow: auto;

}

.content {

    margin-left: 16rem;
}


.alert-border {
    border: 1px solid var(--grey-700);
}

.links {
    text-decoration: none;
    padding: 0.5rem;

}

.links:hover {
    background-color: var(--grey-700);

    opacity: 0.4;
    border-radius: 2rem;
}

/* badges*/
.icon {
    border: 1px solid black;
}


.icon-badge {
    border: none;
    outline: none;
    width: 3rem;
    height: 2.5rem;
}

.badge {

    width: 1.25rem;
    height: 1.25rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.width-one {
    width: 1.25rem;
    height: 1.25rem;
}

.width-two {
    width: 1.5rem;
    height: 1.5rem;
}

.width-three {
    width: 1.5rem;
    height: 1.5rem;
}

.top-0 {
    top: 1px;
    right: 1px;
}

.top-one {
    top: -1px;
    right: -1px;
}

.top-two {
    top: -6px;
    right: -6px;
}

.small-font {
    font-size: x-small;
}

.badge-avatar {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    right: 4px;
    bottom: 7px;
    border: 1px solid white;
}

.top-four {
    width: 0.625rem;
    height: 0.625rem;
    right: 0.375rem;
    bottom: 0.5625rem;
}

.top-five {
    width: 0.725rem;
    height: 0.725rem;
    right: 0.375rem;
    bottom: 0.725rem;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: var(--grey-200);
}

::-webkit-scrollbar-thumb {

    background: #585858;
}


.sidebar::-webkit-scrollbar {

    width: 0.5rem;
    height: 0.5rem;
}

.sidebar::-webkit-scrollbar-track {
    background-color: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: transparent;
}


@media screen and (max-width:1280px) {

    .sidebar {
        width: 10rem;
        font-size: 0.75rem;
    }

    .text {
        font-size: 0.75rem;
    }

    .content {
        margin-left: 1rem;
        overflow: hidden;
        max-width: 100%;
    }

    .sidebar h3 {
        font-size: 1rem;
    }

}

@media screen and (max-width:600px) {

    .sidebar {
        width: 10rem;
        font-size: 0.5rem;
        padding: 0rem;

    }

    .sidebar h3 {
        font-size: 1rem;
    }

    .content {
        max-width: 100%;


        font-size: 0.75rem;
        overflow: hidden;
    }

    .code {
        max-width: 100%;
        ;


    }


}