


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik&display=swap');
* {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}
@media screen and (max-width:480px) {
    .grid-cols-2{
        grid-template-columns: 1fr;
    }
    .grid-cols-3{
        grid-template-columns: 1fr;
    }
    
}

@media screen  and (min-width:480px) and (max-width:950px) {

    .grid-cols-3{
        grid-template-columns: 1fr 1fr;
    }
}